<h1>About Golfrater</h1>
<p>
  Golfrater is a project by <%= link_to "Mike Preuss", "http://www.mikepreuss.com" %>. This is my first foray into application development so I used Skillshare class called <%= link_to "One Month Rails", "http://onemonthrails.com" %> to teach me. <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> 
	in one month.
</p>

<p>
  Drop <%= link_to "me", "mailto:me@mikepreuss.com" %> a note anytime! 
</p>
