<div class="hero-unit">
	<h1>Welcome to Golfrater</h1>
	<p>
		The best place to rate, find, and share golf courses.
	</p>
	<p>
		<%= link_to "Tee it up!", "#", class: "btn btn-success btn-large" %> 
	</p>
</div>